public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.gen.FlatGenerationSettings field_202247_j #STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #structures
public net.minecraft.item.ItemUseContext field_221535_d # rayTraceResult
#pvz zombie limb drop particle
public-f net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public net.minecraft.client.model.geom.ModelPart f_104213_ # children
public net.minecraft.client.particle.Particle f_107205_ # stoppedByCollision
#vanilla powder snow speed modifier slot, reused by pvz chill
public net.minecraft.world.entity.LivingEntity f_147184_ #SPEED_MODIFIER_POWDER_SNOW_UUID
#pvz challenge bgm: boss bar events map for situational music lookup
public net.minecraft.client.gui.components.BossHealthOverlay f_93699_ # events